.items-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.items-page-wrapper > ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

.items-page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: rgba(0, 0, 0, .55);
    cursor: pointer;
    transition: background-color .25s ease;
}

.items-page-btn.active {
    color: #000;
    background-color: #fff;
    border: 2px solid rgba(65, 137, 230, 1);
}

.items-page-btn:hover {
    background-color: rgba(65, 137, 230, .15);
    color: #2968c8;
}

.next-page-btn, .prev-page-btn {
    position: relative;
    visibility: hidden;
    padding: 6px 8px;
    gap: .5em;
}

.next-page-btn.active-dir, .prev-page-btn.active-dir {
    visibility: visible;
}

.prev-page-btn {
    padding-left: 4px;
}

.next-page-btn {
    padding-right: 4px;
}