.product-questions-to-know {
    display: flex;
    flex-direction: column;
    gap: .8em;
    margin-bottom: 2em;
}

.product-questions-to-know h2 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;   
}

.questions-to-know-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .8em;
}

.questions-to-know {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(65, 137, 230, .15);
    color: #3483fa;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    cursor: pointer;
}

.make-a-question {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.make-a-question input {
    width: 100%;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 6px;
    outline: none;
    padding: 14px 12px;
}

.make-a-question input:focus {
    outline: 1px auto #3483fa;
}

.make-a-question input::placeholder {
    color: rgba(0, 0, 0, .25);
}

.make-a-question button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: #3483fa;
    color: #fff;
}

.questions-n-answers {
    display: flex;
    flex-direction: column;
}

.questions-n-answers h3 {
    margin: 1.5em 0;
    font-size: 18px;
    font-weight: 500;  
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 2em;
    color: rgba(0, 0, 0, .8);
}

.question-container a {
    display: inline-block;
    margin-left: 1.5em;
    font-size: 14px;
    color: #3483fa;
    text-decoration: none;
    opacity: 0;
}

.question:hover a, .answer:hover a {
    opacity: 1;
}

.answer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
    color: rgba(0, 0, 0, .5);
}

.answer::before {
    content: "";
    position: absolute;
    left: -20px;
    height: 12px;
    width: 12px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.answer-date > span {
    margin-top: 5px;
    font-size: 14px;
}