.product-content-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 380px;
    margin: 24px;
}

.product-content-sidebar hr {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0;
}

.product-sidebar-wrapper {
    position: sticky;
    top: 24px;
}

.product-sidebar-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 350px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 16px 16px 32px;
    margin-bottom: 24px;
}

.product-sidebar-info:not(:first-child) {
    padding: 32px 16px;
}

/* Sidebar's top/header section */
.product-sidebar-top {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.product-sidebar-top > h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.product-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-sidebar-header > span {
    color: rgba(0, 0, 0, .55);
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
}

.add-fav-icon-sidebar {
    cursor: pointer;
}

/* Sidebar's price section */
.product-sidebar-price span:first-child {
    color: rgba(0, 0, 0, .55);
    text-decoration: line-through;
}

.see-payments-methods {
    margin-top: 5px;
}

.see-payments-methods a, .shipment-info a {
    color: #3483fa;
    font-size: 14px;
    text-decoration: none;
}

.price-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.price-info > h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.price-info > span, .product-sidebar-price > span {
    color: #00a650;
}

/* Sidebar's shipment section */
.product-sidebar-shipment {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.shipment-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 14px;
}

.shipment-info span:first-child{
    color: #00a650;
}

.shipment-text span:first-child{
    font-size: 16px;
}

.shipment-text span:last-child{
    font-size: 15px;
}

/* Sidebar's stock section */
.product-sidebar-stock {
    margin: 10px 0;
}

.product-sidebar-stock > span {
    font-size: 16px;
    font-weight: 500;
}

.stock-status {
    position: relative;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

.stock-status svg {
    height: 10px;
    width: 10px;
    transform: rotate(180deg);
    transition: transform .2s;
}

.rotate-stock-svg svg {
    transform: rotate(360deg);
}

.stock-status span:nth-child(2) {
    font-weight: 500;
}

.stock-status span:last-child {
    color: rgba(0, 0, 0, .55);
    font-size: 14px;
}

.select-quantity {
    position: absolute;
    top: 2.5em;
    z-index: 99;
    width: 130px;
    display: none;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1), 
                0 0 6px 0 rgba(0, 0, 0, .1);
}

.show-modal {
    display: flex;
}

.select-quantity ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.select-quantity li {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    padding: 15px 20px;
}

.select-quantity li:hover {
    background-color: rgba(0, 0, 0, .04);
}

.active-quantity {
    color: #3483fa;
    font-weight: 500;
}

.active-quantity:before {
    visibility: visible;
    content: '';
    position: absolute;
    top: 0;
    left: 2px;
    width: 2px;
    height: 100%;
    border: 1px solid #3483fa;
}

/* Sidebar's buy buttons section */
.product-sidebar-buy {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.product-sidebar-buy button {
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #3483fa;
    transition: background-color .2s;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.product-sidebar-buy button:first-child:hover {
    background-color: #2968c8;
}

.product-sidebar-buy button:last-child{
    background-color: rgba(65, 137, 230, .15);
    color: #3483fa;
}

.product-sidebar-buy button:last-child:hover {
    background-color: rgba(65, 137, 230, .2);
}

/* Sidebar's selled by section */
.product-sidebar-seller {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.seller-info {
    font-size: 13px;
}

.seller-info a {
    color: #3483fa;
    text-decoration: none;
}

.seller-info span:nth-child(2){
    color: rgba(0, 0, 0, .55);
}

.seller-info span:nth-child(3){
    font-weight: 500;
}

/* Sidebar's buy benefits section */
.buy-benefits {
    display: flex;
    gap: .5em;
}

.buy-benefits-icon {
    padding-top: 3px;
}

.buy-benefits a {
    font-size: 14px;
    color: #3483fa;
    text-decoration: none;
}

.buy-benefits a:hover {
    color: #2968c8;
}

.buy-benefits span {
    color: rgba(0, 0, 0, .55);
    font-size: 14px;
}

/* Sidebar's add button section */
.product-sidebar-add-list button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    color: #3483fa;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
}

/* Sidebar's seller info section */
.header-seller-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5em;
}

.seller-img img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.seller-name h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.seller-name span {
    font-size: 12px;
}

.seller-name span:nth-child(2n) {
    color: rgba(0, 0, 0, .55);
    margin-right: 5px;
}

.seller-follow button {
    height: 25px;
    width: 55px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    border-color: transparent;
    background-color: rgba(65, 137, 230, .15);
    color: #3483fa;
    font-size: 12px;
    font-weight: 500;
}

.seller-status {
    display: flex;
    align-items: flex-start;
    gap: .5em;
}

.seller-status-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #00a650;
}

.seller-status-text span:last-child {
    font-size: 12px;
    color: rgba(0, 0, 0, .55);
}

/* Sidebar's sellers info thermometer section */
.seller-rating-thermometer ul {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 0;
}

.thermometer-level {
    list-style-type: none;
    height: 6px;
    width: 20%;
}

.t-level1 {
    background: #f23d4f;
    opacity: .15;
}

.t-level2 {
    background: #f73;
    opacity: .15;
}

.t-level3 {
    background: #ffe600;
    opacity: .15;
}

.t-level4 {
    background: #aadb1e;
    opacity: .15;
}

.t-level5 {
    background: #00a650;
    height: 8px;
    opacity: 1;
}

/* Sidebar's sellers info status section */
.seller-status-info {
    display: flex;
}

.seller-status-block {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.seller-status-block h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.seller-status-block img {
    height: 16px;
    width: 16px;
}

.seller-status-block span {
    text-align: center;
    font-size: 11px;
    color: rgba(0, 0, 0, .55);
    margin-top: 10px;
}

.footer-seller-page {
    height: 30px;
    border: none;
    border-radius: 4px;
    color: #3483fa;
    background-color: rgba(65, 137, 230, .15);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* Sidebar's payment methods section */
.product-sidebar-info > h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.product-payment-methods {
    margin-bottom: 15px;
}

.payment-methods-imgs {
    display: flex;
    gap: 1em;
    margin-top: 5px;
}

.product-payment-methods-link a {
    text-decoration: none;
    font-size: 14px;
    color: #3483fa;
}